header{
    height: 640px;
    flex-direction: column;
}
header p{
    color: #fefefe;
    font-size: 19px;
    margin-top: 30px;
}
header.pt{
    background-image: url('../img/bg-pt.jpg');
}
header.pl{
    background-image: url('../img/bg-Pilates.jpg');
}
.select-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.program-list{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
}
.program-list li{
    border: 1px solid #fefefe;
    padding: 5px 15px;
    border-radius: 30px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fefefe;
}
.program-list li.active{
    background-color: #ffac13;
    border-color: #ffac13;
    color: #fefefe;
}


/* icon section */
section{
    width: 98%;
    max-width: 800px;
}
section.pl{
    max-width: 900px;
}
section h4{
    font-size: 24px;
    text-align: center;
}
.icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 70px 0 100px;
    width: 100%;
    height: 160px;
}
.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.img-box{
    width: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.img-box img{
    width: 100%;
}
.icon-box p{
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}
.icon-box span{
    font-size: 18px;
    font-weight: 600;
    padding: 0 7px;
    background: url('../img/underline.png') no-repeat center;
    background-size: contain;
}
section.pl .icon-box p{
    font-weight: 600;
}
.bar{
    width: 1px;
    height: 100%;
    background-color: #565656;
}