main{
    width: 100%;
    height: 100vh;
    background-color: #c4c0a2;
}
.title{
    width: 56%;
    min-width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.title .title-img{
    width: 100%;
}
.title .s-title{
    width:  50%;
}
.title p{
    color: #ffe400;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.397);
    margin-top: 80px;
}

/* 배경 */

.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}